{% extends "layout_with_header.html.twig" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="right-sideabr">
                        <div class="inner-box">
                            <h4>Manage Account</h4>
                            <ul class="lest item">
                                <li><a href="resume.html">My Resume</a></li>
                                <li><a href="bookmarked.html">Bookmarked Jobs</a></li>
                                <li><a href="notifications.html">Notifications <span class="notinumber">2</span></a></li>
                            </ul>
                            <h4>Manage Job</h4>
                            <ul class="lest item">
                                <li><a href="manage-applications.html">Manage Applications</a></li>
                                <li><a href="job-alerts.html">Job Alerts</a></li>
                            </ul>
                            <ul class="lest">
                                <li><a class="active" href="change-password.html">Change Password</a></li>
                                <li><a href="index.html">Sing Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-alerts-item">
                        <h3 class="alerts-title">Change Password</h3>
                        <form class="form">
                            <div class="form-group is-empty">
                                <label class="control-label" for="textarea">Old Password*</label>
                                <input class="form-control" type="text">
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group is-empty">
                                <label class="control-label" for="textarea">New Password*</label>
                                <input class="form-control" type="text">
                                <span class="material-input"></span>
                            </div>
                            <a href="#" id="submit" class="btn btn-common">Save Change</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}